    </main>

<!-- Begin footer -->
<div clss>
<footer class="text-off-white clear: both position: relative ">
            
    <div class="footer-top">
        <div class="container">
            <div class="row wow bounceInLeft" data-wow-delay="0.4s">

                <div class="col-sm-6 col-md-4">
                    <h4>Useful Links</h4>
                    <ul class="imp-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/CV">CV</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            


                <div class="col-sm-12 col-md-4">
                    <h4>Recent Tweets</h4>
                    <div class="single-tweet">
                        <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident</div>
                        <div class="tweet-date">1 Hour ago</div>
                    </div>
                    <div class="single-tweet">
                        <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident uku shumaru</div>
                        <div class="tweet-date">1 Hour ago</div>
                    </div>
                </div>
                
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>
    
    <div class="footer">
        <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
            <p class="copyright">Copyright &copy; 2021 - Designed By Thomas West</a> &amp; Developed by Thomas West</a></p>
        </div>
    </div>

</footer>
<!-- End footer -->
</div>


    <script src="./components/footer/footer.js"></script>
</body>
</html>


